<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key="BaseDirectory" value="E:\Workspace\MobileUpdater\MAUFiles"></add>     
				<add key="LiquorAppsConnectionString" value="Data Source=LAPTOP-0ET8LFP2;Initial Catalog=liquorapps;Integrated Security = True;MultipleActiveResultSets=True" />
		<!--<add key="LiquorAppsConnectionString" value="Data Source=PK-LAPTOP;Initial Catalog=liquorapps;Integrated Security = True;MultipleActiveResultSets=True" />-->
		<!--<add key="LiquorAppsConnectionString" value="Data Source=bottlecappsdb.cslxuchadxwc.us-east-1.rds.amazonaws.com;Initial Catalog=liquorapps;User ID=webuser;Password=QCG8nP{kkWebU$er;MultipleActiveResultSets=True"/>-->
		<add key="MailUserName" value="no-reply@techmaticsys.com" />
		<add key="BCappsUserName" value="no-reply@bottlecapps.com" />
		<add key="DeveloperId" value="naidu@bottlecapps.com" />
		<add key="MailId_10110" value="napavalleyinventory@outlook.com" />
		<add key="MailId_11717" value="nineandhiltonmarketinventory@outlook.com" />
		<add key="Password" value="Lgofer12#"/>
		<add key="Hostname" value="outlook.office365.com" />
		<add key="Port" value="993"/>
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="ProductFileOnly" value="11338;11372" />
		<add key="StaticQty" value="10947;11421;11466;11473;11623;11887;11422;11859;12248" />
		<add key="PriceDiscount" value="11369" />
		<add key="LiquorCat" value="Mezcal;Liquor;Tequila;Vodka;Gin;Rum" />
		<add key="WineCat" value="wine;Cachaca 51 Brazil Rum 1L Btl;Victory Wine" />
		<add key ="Quantity" value ="11263,11428"/>
		<add key ="stocks" value="11263,11428,11466;11861"/>
		<add key="Tobaco" value ="Cigarettes;Tobacco" />
		<add key="visionOutofstock" value ="10375,10376" />
		<add key="DifferentFormateTigerPOS" value ="12019;12442" />
		<add key="DifferentFormatSTCRPOS" value ="12040" />
		<add key="Irrespective_of_qty" value ="12064" />
		<add key="LimitedProducts" value ="10374,10377" />
		<add key="DiffDeposit" value ="12096" />
		<add key="SpriceKeyStroke" value ="12065" />
		<add key="QtyPerPack" value ="10922;12108" />


		<!--Riteupc already exists-->
		<add key="Riteupc" value="10355;10356;10545;10584;10687;10688;10690;10691;10841;10352;10232;10477;11203;10850;11396;11798;11416;12041;12235;12236;12237;12238;12239"/>
		<add key ="RiteSprice" value ="10584;10687;10688;10690;10691;10841;10352;10232;10477;11203;10850;11798;12235;12236;12237;12238;12239"/>
		<add key ="Darbyprice" value="12235;12236;12237;12238;12239"/>
		<add key ="WholesalePrice" value="11384;11633"/>
		<add key ="NotSprice" value="11384;10395;11633"/>
		<add key="profiteerstocks" value="10758"/>
		<add key="Deposit" value="11466"/>
		<add key="differentStock" value="11646"/>
		<add key="packFromRawFile" value="11841"/>
		<add key="differentQty" value="11861"/>
		<add key="xlmsFormate" value=""/>
		<add key="RemoveCat" value="10810"/>
		<add key="DiffUpcUom11416" value="11416"/>
		<add key="specificUOM11989" value="11989"/>
		<add key="specificSprice11989" value="11989"/>
		<add key="DefaultTax12024" value="12024"/>
		<add key="OnlyPriceQty12024" value="12024"/>
		<add key="DifferentPricelevel" value="10365"/>
		<add key="Irrespectiveofstock" value="12144;10726;12431"/>
		<add key="Pricelevl2" value="12328"/>
		<add key="DifferentformateNRS" value="12191"/>


		<!--program.cs-->
		<add key="SurfLiquor_KeyStroke" value="10284"/>
		<add key="SpiritsFinewine_Keystroke" value="10870;11192;11341;11736;12065"/>
		<add key="SigmansEcrs" value="10361;11382"/>
		<add key="Ecrs_21Packages" value="11424"/>
		<add key="ECRS" value="10196"/>
		<add key="ECRSMacadoodles" value="10535;10726;10544;10806;10809;10810;12144;10726;12328;11099"/>
		<add key="ECRS_10392" value="10392"/>
		<add key="Catapult_11430_11435" value="11430;11435"/>
		<add key="ECRSCATAPULT_XML" value="11309;12070;10365;11917;10555;11912"/>
		<add key ="POMODOCLOUD" value="11641"/>
		<add key ="Spirits2000" value="11707"/>
		<add key ="ExaTouchDiffmail" value="11717"/>
		<add key ="ModisoftDifferentRawFile11792" value="12104"/>
		<add key ="GreaterThenZeroQtyRapidRms" value ="11894"/>
		<add key ="RawFiletax" value ="11737;11736;12350"/>

	</appSettings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="no-reply@bottlecapps.com">
				<network host="smtp.gmail.com" port="587" userName="ak9766733@gmail.com" password="******" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<membership defaultProvider = "ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>