<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AE.Net.Mail" version="1.7.10.0" targetFramework="net45" />
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net45" />
  <package id="EPPlus" version="7.3.2" targetFramework="net45" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net45" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net45" />
  <package id="ExcelDataReader" version="3.4.2" targetFramework="net45" />
  <package id="ExcelDataReader.DataSet" version="3.4.2" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="S22.Imap" version="3.4.0.0" targetFramework="net45" />
</packages>